# Python virtual environment
venv/
 
# Python cache
__pycache__/
*.py[cod]
*$py.class
 
# Environment variables
.env
 
# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.fseventsd
._*
 
# Thumbnails
._*
 
# macOS folder attributes
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
 
# VS Code
.vscode/
 
# Swap files / temp
*.swp
*.swo

# App
frontend/
logs/

# Build for installer
dist/
/build/
